.w-100px {
    width: 100px;
}
.w-125px {
    width: 125px;
}
.w-150px {
    width: 150px;
}
.w-175px {
    width: 175px;
}
.w-200px {
    width: 200px;
}
.w-225px {
    width: 225px;
}
.w-250px {
    width: 250px;
}
.pointer {
    cursor: pointer;
}
.beginner {
    background: #e0ffe0;
}
.normal {
    background: #e8e8ff;
}
.hyper {
    background: #ffffb8;
}
.another {
    background: #ffe0e0;
}
.leggendaria {
    background: #ffe0ff;
}
h1, h2, h3, h4, h5, h6 {
    all: initial;
}
h1 {
    color: #FFFFFF;
}
