.w-100px {
    width: 100px;
}
.w-125px {
    width: 125px;
}
.w-150px {
    width: 150px;
}
.w-175px {
    width: 175px;
}
.w-200px {
    width: 200px;
}
.w-225px {
    width: 225px;
}
.w-250px {
    width: 250px;
}
